doctype html
html
    head
        title="Login pug app"
    body
        div.container
            h1 Welcome to Google log app
            p click login to go next
            a(href= "/auth/google") Login